<% provide(:title, "log in") %>

<div class="row">
  <div id="login">
    <h1>ログイン</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="login-label">
        <%= f.label :id %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="login-button">
        <%= f.submit "ログイン(勤怠)", { name: "kintai_button",  class: "btn btn-large btn-primary" } %>
        <%= f.submit "ログイン(実績)", { name: "jisseki_button", class: "btn btn-large btn-primary" } %>
      </div>

    <% end %>

  </div>
</div>

