<% provide(:title, '実績投入') %>
<% if false %>
  <% provide(:stats, '合計時間') %>
  <% (0...@sum_by_day.size).each do |p| %>
    <% provide(:stats, "#{@user_project[p].project.name} ： #{@sum_by_day[p][0].to_s}h") %>
  <% end %>
<% end %>

<div id="jissekis">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="title col-md-3"><p>実績投入</p></div>
    <div id="month" class="col-md-3">
      <ul class="pagination">
        <li class="disabled">
          <a href="jisseki?month=<%= @target_month.month-1 %>" aria-label="Previous">
            <div aria-hidden="true" class="aquo">&laquo;<%= @target_month.month-1 %>月</div>
          </a>
        </li>
        <li class="disabled">
          <a href="#" id="target-month">
            <%= @target_month.month %>月
          </a>
        </li>
        <li class="disabled">
          <a href="jisseki?month=<%= @target_month.month+1 %>" aria-label="Previous">
            <div aria-hidden="true" class="aquo"><%= @target_month.month+1 %>月&raquo;</div>
          </a>
        </li>
      </ul>
    </div><!-- #month -->
    <div class="col-md-3"></div>
  </div><!-- row -->
  <div class="row">
  <div class="create">
    <% if @sum_by_day.size > 0 %>
      <div id="slider">
        <%= form_tag controller: "jissekis", action: "index", method: :post, remote: true do %>
          <div id="door">
            <%= render partial: 'jisseki' %>
          </div><!-- #door -->
        <% end %>
      </div><!-- #slider -->
    <% else %>
      プロジェクトが割り当てられていません。
    <% end %>
  </div><!-- create -->
  </div><!-- row -->
</div>
